@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body { 
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/heart.jpg');
    background-color: greenyellow;
}
.poetry-container {
    height: auto;
    width: auto;
    display: grid;
}

.poetry-card {
    position: flex;
    width: 450px;
    height: 300px;
    perspective: 1000px;
}

.front,
.back {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    text-align: center;
    font-size: 2em;
    
}

.front {
    transform: rotateX(0deg);
    transition: transform 1s ease-in-out;
    
}

.back {
    transform: rotateX(180deg);
    transition: transform 1s ease-in-out;
    font-size: 1.3em;
    display: flex;
}
.poetry-card:hover .front {
    transform: rotateX(-180deg);
}

.poetry-card:hover .back {
    transform: rotateX(0deg);
}

.poetry-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.poetry-row {
    display: flex;
    margin: 0px;
}

.poetry-card {
    margin: 10px;
}

h1{

    border-right: 2px;
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 50px;
    white-space: nowrap;
    margin: 100px auto;
}

.achou{
    text-align: center;
    font-size: 30px;
    color: rgba(255, 255, 255, 0);
    font-style: bold;
}